references/*.pdf
references/**/*.pdf
**/**/.DS_Store
experiments/jplag/jplag.jar
experiments/sim/sim_java
**/**/__pycache__
experiments/**/out
**/**/.venv
/experiments/codebert/finetune/checkpoints/**
/experiments/codebert/finetune/model/**
/experiments/codebert/finetune/train.jsonl
/experiments/codebert/finetune/valid.jsonl
/experiments/codellama/mlx_codellama_4bit/**